@{
    ViewBag.Title = "AdminControls";
}


<head>
    <title></title>
    <link href="~/Content/bootstrap.css"  rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
    </head>

<body>

    
    <a href="/Admin/ManageAdminData"> Manage Admin Data </a>
    <a href="/Admin/ManageUserData"> Manage User Data </a>
    <a href="/Admin/ManageProducts"> Manage Product Data</a>   

    </body>