@{
    ViewBag.Title = "ManageAdminData";
}

<head>
    <title></title>
    <link href="~/Content/bootstrap.css"  rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
  </head>

<body>

    
       <table>
           <tr>
               <td>Username</td><td>Password</td><td>Details></td>
           </tr>
           @foreach(var item in @Model)
           {
           <tr>
               <td>@item.U</td><@item.
           </tr>
           }
       </table>

</body>