@{
    ViewBag.Title = "ForgotPassword";
}




<head>
    <title></title>
    <link href="~/Content/bootstrap.css"  rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>

        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }

      .form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }

    </style>
    <link href="~/Content/bootstrap.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">

    </head>

<body>

   
     @Scripts.Render("~/bundles/jquery")
   
    <script>

        $(document).ready(function () {
            $('#d1').hide();
            $('#b1').click(function () {

                var username = $('#user').val();
                var password = $('#pass').val();
                $.ajax({
                    url: '/Home/CheckLogin',
                    data1: { usern : [username, password] }, traditional: true, success: function (data) {
                        if (!data) {

                            $('#d1').text("Wrong Username/Password Try Again!");
                            $('#d1').show();


                        }
                    }
                });
            });
        });


    </script>
 
    <div class="container">
        
      <form class="form-signin" action="/Home/ProcessRequest.cshtml" method="post">
          
        <h2 class="form-signin-heading">Type Your EmailAddress Here</h2>
       Email : <input type="text" id ="user" name ="user" class="input-block-level" placeholder="username">
          <div id= "d1"></div>   
                 <button class="btn btn-large btn-primary" id="b1" type="button">Send Email</button>
          </form>    
    </div> <!-- /container -->

   



</body>
